/*
Générique
*/

html{
    box-sizing: border-box;
}

*,* ::before, * ::after{
    box-sizing: inherit;
}


/*
Éléments
*/

body{

    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

a{

    text-decoration: none;
    color: white;

}

h1{

    font-size: 36px;
    font-weight: 300;
    letter-spacing: 7.2px;
    margin: 0;
    text-align: center;
}

h2{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

h3{
    font-size: 36px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

/* 
component
*/


.wrapper{
    max-width: 1080px;
    margin: 0 auto;

}

/*header*/

.header{
    background-color: #f26c25;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .wrapper{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{

    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 36px;
    font-weight: bold;
}

.menu{
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.menu a:hover{

    text-decoration: underline;
}
/*hero*/

.hero{
background-color: #eee;

padding-top: 80px;
padding-bottom: 80px;
}

/*titre-section*/

.titre-section{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #eee;

padding: 20px;

margin-bottom: 60px;
}

.transport{
padding-bottom: 80px;
padding-top: 80px;
}

.conteneur-transports{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 60px;
}
.transport{
text-align: center;

}

.transport{
margin-top: 5px;
}

/*FOOTER*/

.menu-social a{
display: block;
width: 32px;
height: 32px;
}

.footer .wrapper{
display: flex;
justify-content: space-between;
align-items: center;

}
.menu-social{
display: flex;
gap: 20px;

list-style-type: none;

}

.footer{
background-color: black;
color: white;
}
.facebook a:hover{
background-color: #1877f2;
}
.twitter a:hover{
background-color: #1da1f2;
}
.linkdin a:hover{
background-color: #0a66c2;
}

.conteneur-transports-invisible{
display: none;
}